.card-widget {
    text-align: center;
  }
  
  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px;
    border-radius: 50%; /* Para hacer un círculo */
  }
  
  .card-img {
    max-width: 40px; /* Tamaño máximo de la imagen del carrito */
    margin-right: 10px; /* Espaciado entre la imagen y el texto */
  }
  
  .card-text {
    font-size: 18px; /* Tamaño del texto */
    font-weight: bold;
  }
 
  
  
  
  
