.card-widget {
    text-align: center;
  }
  
  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #97efc1; 
    color: #fff;
    padding: 10px;
    border-radius: 50%; 
  }
  
  .card-img {
    max-width: 40px; 
    margin-right: 10px; 
  }
  
  .card-text {
    font-size: 18px; 
    font-weight: bold;
  }
 
  
  
  
  
