body {
    margin: 0;
    padding: 0;
  }
  /* style.css */
/* Estilos personalizados para Navbar */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color:rgb(121, 134, 106);
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo img {
  width: 50px;
  margin-right: 20px;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  
}

.menu li {
  margin-right: 15px;
}

.menu-link {
  text-decoration: none;
  color: white;
  font-size:25px ;
  
}
.menu-link:hover {
  text-decoration: underline;
}

.product-menu {
  list-style: none;
  padding: 0;
  position: absolute;
  background-color: rgb(121, 134, 106);
  color: white;
  display: none; /* Inicialmente oculto */
  z-index: 1;
}

.menu-link:hover .product-menu {
  display: block; /* Mostrar el menú cuando el enlace se encuentra en hover */
}
